* 
{
  box-sizing: border-box;
}

body 
{
  font-family: Verdana, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mySlides 
{
  display: none;
}

img 
{
  vertical-align: middle;
}

.imagen 
{
  max-width: 500px;
}

/*flex box */

/* Galeria */

section.galeria 
{
  display: flex;
  /* Taman~o del section */
  width: 1000px;
  height: 400px;
}

section.galeria>.imagenGaleria 
{
  /* Encoge el section con la imagen para que de un efecto de transition con la animacion */
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section.galeria>.imagenGaleria:hover 
{
  cursor: crosshair;
  /* Esto decide hasta cuanto va a expandir */
  width: 50%;

  opacity: 1;
  filter: contrast(120%);
}


/* Hasta aqui es el codigo de la galeria */
header 
{
  display: flex;
  min-height: 70px;
  background-color: #36b34b;
  color: black;
  justify-content: space-between;
  align-items: center;
}

img 
{
  width: 450px;
}

header h1 
{
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: white;
  font-size: 36px;
  text-transform: Times;
}

header p 
{

  color: white;
}

.p1 
{
  text-align: center;
}

h2 
{
  margin-top: 2%;
  font-size: 3rem;
  text-align: center;
}

.h1Boreal 
{
  margin-top: 2%;
  font-size: 3rem;
  text-align: center;
}

p 
{
  text-transform: arial;
  color: black;
  font-size: 26px;
  text-align: justify;
  margin: 1rem;
}

body 
{
  background-color: #fff6ed;
  color: black;
}

.Logo 
{
  height: 150px;
  width: 150px;
}

.LogoEnactus 
{
  height: auto;
  width: 140px;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008100;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.slide-in-text 
{
  animation: slideIn 2s forwards;
}

@keyframes slideIn 
{
  from 
  {
    margin-left: 100%;
  }
  
  to 
  {
    margin-left: 0%;
  }
}

li 
{
  float: left;
}

li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover 
{
  background-color: #111;
}


/*Anadir Flechas (slider) al Slide Show para pasar manualmente*/
/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  } */

/* .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
   */




/* Slideshow container */
.slideshow-container
 {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text 
{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/8 etc) */
.numbertext 
{
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot 
{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5s ease;
}

.active 
{
  background-color: #717171;
}

/* Fading animation */
.fade 
{
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade 
{
  from 
  {
    opacity: .4
  }

  to 
  {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) 
{
  .text 
  {
    font-size: 11px
  }
}

.headerDeAbajo 
{
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footerEnactus 
{
  margin-top: 15px;
  padding: 2px;
  bottom: 0;
  position: relative;
  width: 100%;
}

.imgContent 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.espacio 
{
  margin: 1rem;
}

.espacio-2-rem 
{
  margin: 2rem;
}

.flexcenter 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayInBlock 
{
  display: block;
  width: 100%;
}

.textAlignCenter 
{
  text-align: center;
}

.textAlignLeft 
{
  text-align: left;
}

h1 
{
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) 
{
  body 
  {
    height: 100vh;
    margin: 0;
  }

  header 
  {
    display: block;
  }

  ul li 
  {
    display: block;
    margin: 10px 0;
  }

  p 
  {
    font-size: 16px;
  }

  article.cta img 
  {
    max-width: 100%;
  }

  .footerEnactus 
  {
    position: relative;
    bottom: 0;
  }

  footer.footerEnactus img.Logo 
  {
    max-width: 100%;
  }

  section.galeria 
  {
    display: none;
  }

  section.galeria>.imagenGaleria 
  {
    display: none;
  }

  .galeria-responsive 
  {
    display: block;
    background: none;
  }

  .imagen-info-lady-bee 
  {
    height: fit-content;
    width: fit-content;
  }
}

@media only screen and (min-width: 601px) 
{
  .galeria-responsive 
  {
    display: none;
  }

  .imagen-info-lady-bee 
  {
    height: fit-content;
    width: fit-content;
  }
}